NODE_ENV=development
PORT=3333
API_PREFIX=/api/v1
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/guia_turismo_dev?schema=public"
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=Admin1234!
ADMIN_NAME=Admin
